body {
    background-color: #FFFFFF;
    color: #4A4A4A;
    font-family: Arial, sans-serif;
    display: inline-block; 
    justify-content: center;
    align-items: center;

}
.container {
    width: 80%;
    max-width: 1000px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-left: 70px;
    margin-right: 70px;
}
header {
    background-color: #B22222;
    color: #F8F9FA;
    padding: 15px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: #F8F9FA;
    text-decoration: none;
}
#hero {
    background-color: #F5DEB3;
    text-align: center;
    padding: 50px 0;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}
#hero h2 {
    margin: 10px 0;
}
#hero img {
    width: 150px;
    border-radius: 70%;
}
#sobre, #curiosidades {
    background-color: #F5DEB3;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
footer {
    background-color: #B22222;
    color: #F8F9FA;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 0 0 10px 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #B22222;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #B22222;
    color: #F8F9FA;
}
td {
    background-color: #F5DEB3;
}
.cards {
text-align: center;
}

.card {
display: inline-block;
width: 30%; 
margin: 10px;
vertical-align: top;
}

.card img {
width: 100%;
height: auto; 
border-radius: 10px;
object-fit: cover;
}
#causos {
background-color: #F5DEB3;
padding: 20px;
border-radius: 10px;
margin-top: 20px;
text-align: center;
}

#habilidades {
background-color: #F5DEB3;
padding: 20px;
border-radius: 10px;
margin-top: 20px;
text-align: center;
}